html {
  scroll-behavior: smooth;
}

body {
  font-family: "Permanent Marker", cursive;
  margin: 0;
  background-image: url('gata_chica_web.webp');
  background-repeat: repeat;
  color: white;
  height: 100vh

}


.bg-container {
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.8029586834733894) 0%, rgba(0,0,0,0.5956757703081232) 45%, rgba(0,0,0,0.396796218487395) 85%, rgba(0,0,0,0) 100%);
}

h1 {
  margin: 0;
}

.header-container, .body-container {
  padding: 20px;
}

.header-container h1 {
  font-size: 70px;
}

.header-container h2{
  font-size: 25px;
}

.menu div {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
}

.img-container img {
  border-radius: 50%;
}

/*TODO QUITAR EVENTUALMENTE??*/
.logo {
  width:400px;
  top: 55px;
  position: relative;
  z-index: 2;
}

.logo-container {
  margin-top: 70px;
}

.body-container {
  margin-top: 220px;
}


p, .guest-container h1, .donation-container h1  {
  font-family: "Bebas Neue", sans-serif;
}

.body-container p {
  font-size: 20px;
  margin: 20px 25% 0 25%;
}

.guest-container h1, .donation-container h1 {
  font-size: 70px
}

.guest-grid .guest {
  width: 200px;
  height: 200px;

}

.custom-gap {
  gap: 10px;
}

.coming-soon {
  font-size: 70px;
  font-family: "Permanent Marker", cursive !important;
}

@media (max-width: 412px) {
  .header-container h1 {
      font-size: 7vw;
  }

  .header-container h2{
      font-size: 6vw;
  }

  .coming-soon {
      font-size: 12vw !important;
      font-family: "Permanent Marker", cursive !important;
  }

}


